In [2]:
import pandas as pd
import numpy as np
import json

In [4]:
get_df = lambda: pd.DataFrame(json.loads('''{
  "Experiment_Start": [null, null, "Sept 1, 2024", "2024-09-01", "2024.09.01", "Sept 1, 2024", "Sept 1, 2024", "2024-09-01", "September 1, 2024", "2024/09/01", "09/01/2024", null, "09/01/2024"],
  "Experiment_End": ["25/08/2024", "25-08-2024", "25 Aug 2024", "25/08/2024", null, null, "08/25/2024", "25-08-2024", "25 Aug 2024", "25 Aug 2024", "2024.08.25", null, "Aug 25, 2024"],
  "Report_Date": ["07/15/2024", "July 15, 2024", null, null, "15/07/2024", "2024.07.15", "15/07/2024", "15-07-2024", "15/07/2024", "2024.07.15", "15-07/2024", "15 July 2024", "2024.07.15 15:45:00"],
  "Session_Start_Time": [null, null, "02:45", "12 PM", "12 PM", "14:45:00", "2:30 PM", null, null, "12:30 PM", "12:00:00", "2:30 PM", "12:00:00"],
  "Session_End_Time": ["05:45", null, null, "16:00", "17:30:00", "16:00", "17:00:00", "16:00", "4:45 PM", "17:30:00", null, "16:45:00", null],
  "Month_Year": ["Sep 2024", null, "Sept 2024", "September 2024", null, "2024.09", "2024-09", "2024-09", "2024-09", null, null, "09/2024", null],
  "Temperature_C": [21, 34, 29, 25, 22, 35, 21, 33, 37, 25, 25, 38, 35],
  "Measurement_Error": [3.205, 3.686, 0.593, 4.865, 4.246, 1.456, 1.318, 1.325, 1.869, 2.861, 2.444, 1.811, 3.253],
  "Fertilizer_Type": ["Type A", "Type B", "Type C", "Type A", "Type B", null, null, null, "Type B", "Type C", "Type A", null, "Type B"],
  "Water_Quality": ["Low", "Medium", "High", "Low", "Medium", "High", null, "Low", "Medium", null, null, null, "Low"]
}'''))

In [5]:
get_df()

/usr/local/lib/python3.10/dist-packages/google/colab/_dataframe_summarizer.py:88: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  cast_date_col = pd.to_datetime(column, errors="coerce")

,Experiment_Start,Experiment_End,Report_Date,Session_Start_Time,Session_End_Time,Month_Year,Temperature_C,Measurement_Error,Fertilizer_Type,Water_Quality
0,None,25/08/2024,07/15/2024,None,05:45,Sep 2024,21,3.205,Type A,Low
1,None,25-08-2024,"July 15, 2024",None,None,None,34,3.686,Type B,Medium
2,"Sept 1, 2024",25 Aug 2024,None,02:45,None,Sept 2024,29,0.593,Type C,High
3,2024-09-01,25/08/2024,None,12 PM,16:00,September 2024,25,4.865,Type A,Low
4,2024.09.01,None,15/07/2024,12 PM,17:30:00,None,22,4.246,Type B,Medium
5,"Sept 1, 2024",None,2024.07.15,14:45:00,16:00,2024.09,35,1.456,None,High
6,"Sept 1, 2024",08/25/2024,15/07/2024,2:30 PM,17:00:00,2024-09,21,1.318,None,None
7,2024-09-01,25-08-2024,15-07-2024,None,16:00,2024-09,33,1.325,None,Low
8,"September 1, 2024",25 Aug 2024,15/07/2024,None,4:45 PM,2024-09,37,1.869,Type B,Medium
9,2024/09/01,25 Aug 2024,2024.07.15,12:30 PM,17:30:00,None,25,2.861,Type C,None
10,09/01/2024,2024.08.25,15-07/2024,12:00:00,None,None,25,2.444,Type A,None
11,None,None,15 July 2024,2:30 PM,16:45:00,09/2024,38,1.811,None,None
12,09/01/2024,"Aug 25, 2024",2024.07.15 15:45:00,12:00:00,None,None,35,3.253,Type B,Low

## Correcting Datatype

In [6]:
df = get_df()

In [7]:
df.dtypes

Experiment_Start       object
Experiment_End         object
Report_Date            object
Session_Start_Time     object
Session_End_Time       object
Month_Year             object
Temperature_C           int64
Measurement_Error     float64
Fertilizer_Type        object
Water_Quality          object
dtype: object