In [6]:
import pandas as pd
import numpy as np
import json

## Data

In [66]:
df = pd.DataFrame(json.loads("""[
    {
        "Date": "2024-01-01T00:00:00.000Z",
        "Product_Type": "Groceries",
        "Region": "West",
        "Units_Sold": 100,
        "Revenue": 41321,
        "Discount_Percentage": 4.2
    },
    {
        "Date": "2024-01-02T00:00:00.000Z",
        "Product_Type": "Clothing",
        "Region": "West",
        "Units_Sold": 135,
        "Revenue": 16188.01,
        "Discount_Percentage": 5.81
    },
    {
        "Date": "2024-01-03T00:00:00.000Z",
        "Product_Type": "Groceries",
        "Region": "North",
        "Units_Sold": 186,
        "Revenue": 9155.9,
        "Discount_Percentage": 14.65
    },
    {
        "Date": "2024-01-04T00:00:00.000Z",
        "Product_Type": "Clothing",
        "Region": "North",
        "Units_Sold": 122,
        "Revenue": 18370.9,
        "Discount_Percentage": 5.1
    },
    {
        "Date": "2024-01-05T00:00:00.000Z",
        "Product_Type": "Clothing",
        "Region": "West",
        "Units_Sold": 112,
        "Revenue": 15000,
        "Discount_Percentage": 8.64
    },
    {
        "Date": "2024-01-06T00:00:00.000Z",
        "Product_Type": "Groceries",
        "Region": "South",
        "Units_Sold": 250,
        "Revenue": 18254.22,
        "Discount_Percentage": 13.24
    },
    {
        "Date": "2024-01-07T00:00:00.000Z",
        "Product_Type": "Furniture",
        "Region": "West",
        "Units_Sold": 67,
        "Revenue": 9428.13,
        "Discount_Percentage": 10
    },
    {
        "Date": "2024-01-08T00:00:00.000Z",
        "Product_Type": "Groceries",
        "Region": "East",
        "Units_Sold": 181,
        "Revenue": 7670.1,
        "Discount_Percentage": 13.21
    },
    {
        "Date": "2024-01-09T00:00:00.000Z",
        "Product_Type": "Groceries",
        "Region": "West",
        "Units_Sold": 119,
        "Revenue": 10000,
        "Discount_Percentage": 14.38
    },
    {
        "Date": "2024-01-10T00:00:00.000Z",
        "Product_Type": "Clothing",
        "Region": "North",
        "Units_Sold": null,
        "Revenue": 11744.3,
        "Discount_Percentage": 3.4
    },
    {
        "Date": "2024-01-11T00:00:00.000Z",
        "Product_Type": "Furniture",
        "Region": "South",
        "Units_Sold": 155,
        "Revenue": 6845.09,
        "Discount_Percentage": 9.12
    },
    {
        "Date": "2024-01-12T00:00:00.000Z",
        "Product_Type": "Clothing",
        "Region": "West",
        "Units_Sold": 83,
        "Revenue": 18137.57,
        "Discount_Percentage": 12.43
    },
    {
        "Date": "2024-01-13T00:00:00.000Z",
        "Product_Type": "Electronics",
        "Region": "West",
        "Units_Sold": 64,
        "Revenue": 6321,
        "Discount_Percentage": 2
    },
    {
        "Date": "2024-01-14T00:00:00.000Z",
        "Product_Type": "Electronics",
        "Region": "South",
        "Units_Sold": 76,
        "Revenue": 7212.06,
        "Discount_Percentage": null
    },
    {
        "Date": "2024-01-15T00:00:00.000Z",
        "Product_Type": "Electronics",
        "Region": "North",
        "Units_Sold": 165,
        "Revenue": 7462.88,
        "Discount_Percentage": 11.8
    },
    {
        "Date": "2024-01-16T00:00:00.000Z",
        "Product_Type": "Furniture",
        "Region": "West",
        "Units_Sold": 52,
        "Revenue": 9059.98,
        "Discount_Percentage": 8.2
    },
    {
        "Date": "2024-01-17T00:00:00.000Z",
        "Product_Type": "Groceries",
        "Region": "North",
        "Units_Sold": 86,
        "Revenue": 75,
        "Discount_Percentage": 5.49
    },
    {
        "Date": "2024-01-18T00:00:00.000Z",
        "Product_Type": "Furniture",
        "Region": "East",
        "Units_Sold": 98,
        "Revenue": 10071.65,
        "Discount_Percentage": 14.41
    },
    {
        "Date": "2024-01-19T00:00:00.000Z",
        "Product_Type": "Clothing",
        "Region": "South",
        "Units_Sold": 197,
        "Revenue": 19357.25,
        "Discount_Percentage": 12.71
    },
    {
        "Date": "2024-01-20T00:00:00.000Z",
        "Product_Type": "Electronics",
        "Region": "North",
        "Units_Sold": 188,
        "Revenue": 13215.15,
        "Discount_Percentage": 6.75
    }
]"""))
df['Date'] = pd.to_datetime(df['Date'], format='mixed')
df

,Date,Product_Type,Region,Units_Sold,Revenue,Discount_Percentage
0,2024-01-01 00:00:00+00:00,Groceries,West,100.0,41321.00,4.20
1,2024-01-02 00:00:00+00:00,Clothing,West,135.0,16188.01,5.81
2,2024-01-03 00:00:00+00:00,Groceries,North,186.0,9155.90,14.65
3,2024-01-04 00:00:00+00:00,Clothing,North,122.0,18370.90,5.10
4,2024-01-05 00:00:00+00:00,Clothing,West,112.0,15000.00,8.64
5,2024-01-06 00:00:00+00:00,Groceries,South,250.0,18254.22,13.24
6,2024-01-07 00:00:00+00:00,Furniture,West,67.0,9428.13,10.00
7,2024-01-08 00:00:00+00:00,Groceries,East,181.0,7670.10,13.21
8,2024-01-09 00:00:00+00:00,Groceries,West,119.0,10000.00,14.38
9,2024-01-10 00:00:00+00:00,Clothing,North,NaN,11744.30,3.40
10,2024-01-11 00:00:00+00:00,Furniture,South,155.0,6845.09,9.12
11,2024-01-12 00:00:00+00:00,Clothing,West,83.0,18137.57,12.43
12,2024-01-13 00:00:00+00:00,Electronics,West,64.0,6321.00,2.00
13,2024-01-14 00:00:00+00:00,Electronics,South,76.0,7212.06,NaN
14,2024-01-15 00:00:00+00:00,Electronics,North,165.0,7462.88,11.80
15,2024-01-16 00:00:00+00:00,Furniture,West,52.0,9059.98,8.20
16,2024-01-17 00:00:00+00:00,Groceries,North,86.0,75.00,5.49
17,2024-01-18 00:00:00+00:00,Furniture,East,98.0,10071.65,14.41
18,2024-01-19 00:00:00+00:00,Clothing,South,197.0,19357.25,12.71
19,2024-01-20 00:00:00+00:00,Electronics,North,188.0,13215.15,6.75

## Cummulative Sum

In [67]:
# Cummulative Sum over single dataframe column
df[['Revenue']].cumsum(skipna=True)

      Revenue
0    41321.00
1    57509.01
2    66664.91
3    85035.81
4   100035.81
5   118290.03
6   127718.16
7   135388.26
8   145388.26
9   157132.56
10  163977.65
11  182115.22
12  188436.22
13  195648.28
14  203111.16
15  212171.14
16  212246.14
17  222317.79
18  241675.04
19  254890.19

In [68]:
# Cummulative Sum over multiple dataframe column
df[['Units_Sold', 'Revenue', 'Discount_Percentage']].cumsum(skipna=True)

    Units_Sold    Revenue  Discount_Percentage
0        100.0   41321.00                 4.20
1        235.0   57509.01                10.01
2        421.0   66664.91                24.66
3        543.0   85035.81                29.76
4        655.0  100035.81                38.40
5        905.0  118290.03                51.64
6        972.0  127718.16                61.64
7       1153.0  135388.26                74.85
8       1272.0  145388.26                89.23
9          NaN  157132.56                92.63
10      1427.0  163977.65               101.75
11      1510.0  182115.22               114.18
12      1574.0  188436.22               116.18
13      1650.0  195648.28                  NaN
14      1815.0  203111.16               127.98
15      1867.0  212171.14               136.18
16      1953.0  212246.14               141.67
17      2051.0  222317.79               156.08
18      2248.0  241675.04               168.79
19      2436.0  254890.19               175.54

In [69]:
# Cummulative Sum within groups
df.groupby(['Product_Type', 'Region'])[['Units_Sold', 'Revenue', 'Discount_Percentage']].apply(lambda x: x.cumsum()).sort_index()

                        Units_Sold   Revenue  Discount_Percentage
Product_Type Region
Clothing     North  3        122.0  18370.90                 5.10
                    9          NaN  30115.20                 8.50
             South  18       197.0  19357.25                12.71
             West   1        135.0  16188.01                 5.81
                    4        247.0  31188.01                14.45
                    11       330.0  49325.58                26.88
Electronics  North  14       165.0   7462.88                11.80
                    19       353.0  20678.03                18.55
             South  13        76.0   7212.06                  NaN
             West   12        64.0   6321.00                 2.00
Furniture    East   17        98.0  10071.65                14.41
             South  10       155.0   6845.09                 9.12
             West   6         67.0   9428.13                10.00
                    15       119.0  18488.11                18.20
Groceries    East   7        181.0   7670.10                13.21
             North  2        186.0   9155.90                14.65
                    16       272.0   9230.90                20.14
             South  5        250.0  18254.22                13.24
             West   0        100.0  41321.00                 4.20
                    8        219.0  51321.00                18.58

## Window Functions

#### Rolling Window
Rolling window: Generic fixed or variable sliding window over the values.

In [70]:
# Rolling mean. Min_periods as window will not be full always
df['Revenue'].rolling(3, min_periods=1).mean()

0     41321.000000
1     28754.505000
2     22221.636667
3     14571.603333
4     14175.600000
5     17208.373333
6     14227.450000
7     11784.150000
8      9032.743333
9      9804.800000
10     9529.796667
11    12242.320000
12    10434.553333
13    10556.876667
14     6998.646667
15     7911.640000
16     5532.620000
17     6402.210000
18     9834.633333
19    14214.683333
Name: Revenue, dtype: float64

In [71]:
# manually veruying mean with averages
df['Revenue'].rolling(3, min_periods=1).sum() / df['Revenue'].rolling(3, min_periods=1).count() == df['Revenue'].rolling(3, min_periods=1).mean()

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
Name: Revenue, dtype: bool

In [72]:
# Window is ignoring nulls
df['Discount_Percentage'].rolling(3, min_periods=1).count()

0     1.0
1     2.0
2     3.0
3     3.0
4     3.0
5     3.0
6     3.0
7     3.0
8     3.0
9     3.0
10    3.0
11    3.0
12    3.0
13    2.0
14    2.0
15    2.0
16    3.0
17    3.0
18    3.0
19    3.0
Name: Discount_Percentage, dtype: float64

In [81]:
# Running T Score

df['Rolling_Mean_Discount_Percentage'] = df['Discount_Percentage'].rolling(3, min_periods=1).apply(lambda x: x.mean())
df['Rolling_Std_Discount_Percentage'] = df['Discount_Percentage'].rolling(3, min_periods=1).apply(lambda x: x.std())
df['Rolling_count_Discount_Percentage'] = df['Discount_Percentage'].rolling(3, min_periods=1).count()

df['Rolling_count_Discount_Percentage']*(df['Discount_Percentage'] - df['Rolling_Mean_Discount_Percentage'])/df['Rolling_Std_Discount_Percentage']

0          NaN
1     1.414214
2     3.428463
3    -1.928357
4    -0.511605
5     3.121412
6    -0.795544
7     1.707827
8     2.447310
9    -3.447761
10    0.083764
11    2.701232
12   -3.292857
13         NaN
14    1.414214
15   -1.414214
16   -2.849522
17    3.308542
18    1.165512
19   -3.385881
dtype: float64

#### Expanding Window

: This creates an expanding window where the number of observations grows with each step.

In [83]:
# Running T Score

df['Rolling_Mean_Discount_Percentage'] = df['Discount_Percentage'].expanding(min_periods=1).apply(lambda x: x.mean())
df['Rolling_Std_Discount_Percentage'] = df['Discount_Percentage'].expanding(min_periods=1).apply(lambda x: x.std())
df['Rolling_count_Discount_Percentage'] = df['Discount_Percentage'].expanding(min_periods=1).count()

df['Rolling_count_Discount_Percentage']*(df['Discount_Percentage'] - df['Rolling_Mean_Discount_Percentage'])/df['Rolling_Std_Discount_Percentage']

0           NaN
1      1.414214
2      3.428463
3     -1.929259
4      1.133212
5      6.294572
6      2.056101
7      7.568079
8      9.655702
9    -13.228454
10    -0.340080
11     8.504822
12   -20.240403
13          NaN
14     8.559261
15    -3.140062
16   -12.961382
17    20.959807
18    14.291567
19   -11.468131
dtype: float64

In [84]:
# We ca see mean and standard deviatin getting stable as the window size grows.
df[['Discount_Percentage', 'Rolling_Mean_Discount_Percentage', 'Rolling_Std_Discount_Percentage', 'Rolling_count_Discount_Percentage']]

,Discount_Percentage,Rolling_Mean_Discount_Percentage,Rolling_Std_Discount_Percentage,Rolling_count_Discount_Percentage
0,4.20,4.200000,NaN,1.0
1,5.81,5.005000,1.138442,2.0
2,14.65,8.220000,5.626429,3.0
3,5.10,7.440000,4.851605,4.0
4,8.64,7.680000,4.235747,5.0
5,13.24,8.606667,4.416504,6.0
6,10.00,8.805714,4.065947,7.0
7,13.21,9.356250,4.073689,8.0
8,14.38,9.914444,4.162307,9.0
9,3.40,9.263000,4.432113,10.0
10,9.12,9.250000,4.204892,11.0
11,12.43,9.515000,4.112961,12.0
12,2.00,8.936923,4.455445,13.0
13,NaN,8.936923,4.455445,13.0
14,11.80,9.141429,4.348506,14.0
15,8.20,9.078667,4.197370,15.0
16,5.49,8.854375,4.153106,16.0
17,14.41,9.181176,4.240974,17.0
18,12.71,9.377222,4.197580,18.0
19,6.75,9.238947,4.123601,19.0